/WormSim/sundials-2.3.0/sundials-config
/WormSim/sundials-2.3.0/Makefile
/WormSim/sundials-2.3.0/src/cvode/Makefile
/WormSim/sundials-2.3.0/src/cvodes/Makefile
/WormSim/sundials-2.3.0/src/ida/Makefile
/WormSim/sundials-2.3.0/src/kinsol/Makefile
/WormSim/sundials-2.3.0/src/nvec_ser/Makefile
/WormSim/sundials-2.3.0/src/sundials/Makefile
/WormSim/Sundials/bin/sundials-config
/WormSim/sundials-2.3.0/libtool
/WormSim/sundials-2.3.0/src/cvode/libsundials_cvode.la
/WormSim/sundials-2.3.0/src/cvodes/libsundials_cvodes.la
/WormSim/sundials-2.3.0/src/ida/libsundials_ida.la
/WormSim/sundials-2.3.0/src/kinsol/libsundials_kinsol.la
/WormSim/sundials-2.3.0/src/nvec_ser/libsundials_nvecserial.la
/.gitignore~
*.o
*.lo
/WormSim/Model/simdata.csv
/WormSim/Model/program
/WormSim/Model/worm.o
/WormSim/Sundials/include/
/WormSim/Sundials/lib/
/WormSim/sundials-2.3.0/config.log
/WormSim/sundials-2.3.0/config.status
/WormSim/sundials-2.3.0/src/*/.libs
/WormSim/Model/objects.csv
.DS_Store
.ipynb_checkpoints
__pycache__
/WormSim/Model/simdata.png
/WormSim/Model/simdata.wcon
